ipykernel
numpy
pandas
langchain
langchain-community
python-dotenv
langchain-groq
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-openai
langchain-ollama
langchain-huggingface
sentence-transformers
faiss-cpu
langchain_chroma
pysqlite3-binary
chromadb
streamlit
fastapi
langserve
uvicorn
requests
langchain-google_genai
pydantic
langchain-classic
langchainhub
langsmith
duckduckgo-search
numexpr
huggingface-hub
validators==0.28.1
youtube-transcript-api
pytube
unstructured
##Cassandra DB
cassio
datasets
tiktoken
gradio
